.product-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    max-width:157px;
  }
  
  .product-card img {
    width:150px;
    height: auto;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card:hover{
    background:#E2E2E4;
  }